/*
 * VARIABLES
 */

/* Boolean 'Flags' */
$enabled_theme_dark: false !default;


/* Color Defaults */
$_color_bg: #e9e9e9 !default;
$_color_box_shadow: rgba(0, 0, 0, 0.3) !default;
$_color_primary: #0060ff !default;
$_color_text: #000 !default;


/* Time Defaults */
$_transition_duration: 0.3s;


/* Adjusting for Dark Theme */
@if $enabled_theme_dark
{
	$_color_bg: #3b3b3b;
	$_color_box_shadow: rgba(0, 0, 0, 0.2);
	$_color_text: #fff;
}

/*
 * STYLES
 */

/* Defaults */
*
{
	background: transparent;
	border: 0;
	box-sizing: border-box;
	color: $_color_text;
	font-size: 100%;
	font-family: 'Roboto';
	margin: 0;
	outline: 0;
	padding: 0;
	z-index: 0;
}

/* Mixins */
@mixin default_hover($adjust: 10%)
{
	&:hover
	{
		@if $enabled_theme_dark
		{ background-color: lighten($_color_bg, $adjust); }
		@else
		{ background-color: darken($_color_bg, $adjust); }
		transition-duration: $_transition_duration;
	}
}

@mixin default_bg_change($adjust: 10%)
{
	@if $enabled_theme_dark
	{ background-color: lighten($_color_bg, $adjust) }
	@else
	{ background-color: darken($_color_bg, $adjust) }
}

/* Style Tree */
body
{
	background-color: $_color_bg;
	color: $_color_text;

	& > input
	{
		vertical-align: sub;
	}

	#pane
	{
		display: grid;
		grid-template-columns: 1fr 3fr;
		height: 100vh;

		& > div
		{
			display: grid;
			height: 100%;
			overflow: hidden;
		}

		& > #pane_sidebar,
		& #pane_chat_message_list
		{
			overflow-y: scroll;
			scrollbar-width: none;
		}

		& > #pane_sidebar
		{
			$_color_adjust_percent: 40%;
			border-right: 1px solid gray;
			display: grid;
			grid-template-rows: 1fr 31fr;

			& > #pane_sidebar_setting_list
			{
				box-shadow: 0 2px 16px 2px $_color_box_shadow;
				display: grid;
				grid-template-columns: repeat(min-content);
				height: min-content;
				transition-duration: $_transition_duration;
				width: 100%;

				&:hover
				{
					box-shadow: none;
					transition-duration: $_transition_duration;
				}

				& > .pane_sidebar_setting
				{
					border-bottom: 1px inset #ccc;
					display: grid;
					position: relative;
					text-align: center;
					width: auto;

					&:last-child
					{
						border-bottom: none;
					}

					&:hover
					{
						& .pane_sidebar_setting_entry
						{
							background-color: lighten($_color_primary, 10%);
							transition-duration: $_transition_duration;
						}

						& .pane_sidebar_setting_dropdown
						{
							max-height: 250px;
							opacity: 1;
							overflow: show;
							transition: max-height $_transition_duration linear;
							z-index: 2;
						}
					}

					& .pane_sidebar_setting_entry
					{
						background-color: $_color_primary;
						border: none;
						color: white;
						cursor: pointer;
						font-size: 16px;
						padding: 8px;
						transition-duration: $_transition_duration;
						width: 100%;
					}

					& .pane_sidebar_setting_dropdown
					{
						$_color_adjust_percent: 5%;

						@include default_bg_change($adjust: $_color_adjust_percent);

						box-shadow: 0 2px 16px 2px $_color_box_shadow;
						display: block;
						margin-left: 0 auto;
						max-height: 0px;
						overflow: hidden;
						position: relative;
						transition-duration: $_transition_duration;
						width: 100%;
						z-index: -1;

						& .pane_sidebar_setting_dropdown_entry
						{
							@include default_hover($adjust: $_color_adjust_percent+5%);

							display: block;
							padding: 6px 8px;
							text-decoration: none;
							width: 100%;

							& input[type='submit']
							{
								@include default_bg_change($adjust: $_color_adjust_percent+2%);
								@if ($enabled_theme_dark)
								{border: 2px outset white;}
								@else
								{border: 2px outset black;}
								padding: 5px;
								width: 100%;
							}
						}

						& select
						{
							@extend .pane_sidebar_setting_dropdown_entry;
							@include default_bg_change($adjust: $_color_adjust_percent+2%);
							border-bottom: 1px solid gray;
							height: 35px;
							width: 100%;

							& option
							{
								@if ($enabled_theme_dark)
								{ color: white; }
							}
						}
					}
				}
			}

			& > #pane_sidebar_room_list
			{
				height: min-content;
				display: grid;
				position: relative;
				top: 0;
				width: auto;

				& > .pane_sidebar_room
				{
					border-top: solid 1px gray;
					display: block;
					padding: 5px;
					position: relative;
					text-align: left;
					width: 100%;

					&:first-child
					{
						border: none;
					}

					&:hover
					{
						@include default_hover($adjust: 10%);
					}

					&.active
					{
						background-color: #007700;
					}

					& > .pane_sidebar_room_message_list
					{
						@extend data;
					}
				}

				& > .pane_sidebar_room_separator
				{
					height: 0px;
				}
			}
		}


		& > #pane_chat
		{
			grid-template-rows: 2fr 30fr 1fr;

			& > #pane_chat_header,
			& #pane_chat_input_button,
			& #pane_chat_input_text
			{
				$_color_adjust_percent: 5%;
				@include default_bg_change($adjust: $_color_adjust_percent);

				box-shadow: 0px 3px 13px 3px $_color_box_shadow;
				position: sticky;
			}

			& > #pane_chat_header
			{
				& > h1
				{
					font-size: 1.5em;
					letter-spacing: 0.06em;
					padding-left: 10px;
				}
			}

			& > #pane_chat_message_list
			{
				background-color: transparent;

				// The container
				& li%_pane_chat_message
				{
					display: grid;
					font-size: 0.85em;
					grid-template-rows: 1fr 2fr;
					max-width: 60%;
					overflow: hidden;
					padding: 15px;
					position: static;
					width: auto;

					& > header
					{
						font-weight: bold;

						& > time::before
						{
							content: "|";
							padding: 0 5px;
						}

						& > time
						{
							font-weight: normal;
						}
					}

					& > header,
					& > p
					{
						padding: 0 15px;
					}

					& > p
					{
						$_multiple_message_radius: 4px;

						// Default radius for 1 message
						border-radius: 20px;
						// Rest of `p`
						box-shadow: 0px 1px 4px 1px $_color_box_shadow;
						display: flex;
						padding-top: 9px;

						/* 2+ message_list, top-most */
						&.top
						{
							border-bottom-left-radius: $_multiple_message_radius;
							border-bottom-right-radius: $_multiple_message_radius;
						}

						/* 2+ message_list, bottom-most */
						&.bottom
						{
							border-top-left-radius: $_multiple_message_radius;
							border-top-right-radius: $_multiple_message_radius;
							padding-top: 5px;
							padding-bottom: 9px;
						}

						/* 3+ message_list, middle */
						&.middle
						{
							@extend .bottom;
							@extend .top;
							padding-bottom: 5px;
						}

						& + p
						{
							margin-top: 6px;
						}
					}
				}

				& > li.pane_chat_message_sent
				{
					@extend %_pane_chat_message;

					p
					{
						@if ($enabled_theme_dark)
						{ @include default_bg_change($adjust: 10%); }
						@else { @include default_bg_change($adjust: 15%); }
					}
				}

				& > li.pane_chat_message_received
				{
					@extend %_pane_chat_message;

					& > p
					{
						background-color: $_color_primary;
						color: white;
					}
				}
			}

			& > #pane_chat_input
			{
				$_distance: 7px;

				background-color: transparent;
				display: grid;
				grid-template-columns: 21fr 1fr;
				grid-gap: $_distance;
				padding: $_distance 0;

				& > #pane_chat_input_button,
				& > #pane_chat_input_text
				{
					border-radius: 20px;
					height: 70%;
				}

				& > #pane_chat_input_text
				{
					margin-bottom: auto;
					margin-left: $_distance;
					margin-top: auto;

					& > #pane_chat_input_text_area
					{
						float: none;
						height: 67%;
						margin-left: 10px;
						margin-top: 8px;
						position: relative;
						vertical-align: middle;
						width: 98%;
					}
				}

				& > #pane_chat_input_button
				{
					@include default_hover($adjust: 10%);

					margin-bottom: auto;
					margin-right: $_distance;
					margin-top: auto;
					text-align: center;
					vertical-align: middle;
				}
			}
		}
	}
}

data
{
	display: none;
	height: 0px;
	overflow: hidden;
	position: relative;
	width: 0px;
}
